{% extends "base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
 <h1 style="color:#4dd2ff">My Blog </h1>
 {% for post in posts %}
   <h2>
     <a href="{{ post.get_absolute_url }}" style="color:#ff1a1a">
       {{ post.title }}
     </a>

   </h2>
   <p class="date" style="color:#FFFFFF">
     Published {{ post.publish }} by {{ post.author }}
   </p>
   {{ post.body|truncatewords:30|linebreaks }}

 {% include "pagination.html" with page=posts %}
 
 <div class="footer">
  <pre style="color:white"><font size="5">"The only way to do great work is to love what you do"
  Steve Jobs</font></pre>
</div>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #4dd2ff;
   color: white;
   text-align: center;
}
</style>
 {% endfor %}
{% endblock %}


